.red-dropdown {
    background-color: rgba(252, 24, 24, 0.822) !important;
}

.green-dropdown {
    background-color: rgba(34, 139, 34, 0.863) !important;
}

.blue-dropdown {
    background-color: rgba(1, 87, 248, 0.685) !important;
}